{% extends 'app/base.html' %}
{% load static %}
{% block bsccsit %}
    <div class="bsc-csit">
        <div class="container">
            <div class="row" style="margin-top:90px; padding-top:20px;">
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">First Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Introduction of Information Technology</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Second Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Third Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Fourth Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Fifth Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Sixth Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Seventh Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="bsccsit-box">
                        <h3 style="color: white">Eighth Semester</h3>
                        <ul>
                            <li><a href="{% url 'subject' %}">1. Information</a></li>
                            <li><a href="">2. Information</a></li>
                            <li><a href="">3. Information</a></li>
                            <li><a href="">4. Information</a></li>
                            <li><a href="">5. Information</a></li>
                        </ul>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>
{% endblock bsccsit %}