{% extends 'app/base.html' %}
{% load static %}
{% block passwordchangedone %}
<div class="container my-5">
    <div class="row" style="margin-top: 83px;">
    <h3>Welcome {{request.user}}</h3>
     <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
       <li class="d-grid"><a href="" class="btn btn-oultine-danger" style="background-color: #DC3545; color: white;">Change Password</a></li>
      </ul>
     </div>
     <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Password Changed Successfully !!</h3>
      <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
     </div>
    </div>
   </div>
{% endblock passwordchangedone %}