{% extends 'app/base.html' %}
{% block content %}
<div class="row" style ="margin-top:80px;">
<div class="col-sm-9">
   <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
             <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">Learn HTML</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnhtml' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>
        </div>
        <div class="col-sm-3 ms-5">
            <div class="card" style="width: 16rem;">
             <i class="fab fa-css3 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">LEARN CSS</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learncss' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>       

        </div>
        <div class="col-sm-3 ms-5">
        <div class="card" style="width: 16rem;">
              <i class="fab fa-js ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">lEARN JAVASCRIPT</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnjavascript' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>
        </div>
   </div>

   <div class="row ">
        <div class="col-sm-3 mt-5">
            <div class="card" style="width: 16rem;">
              <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">Learn JQUERY</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnjquery' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>
        </div>
        <div class="col-sm-3 ms-5 mt-5">
            <div class="card" style="width: 16rem;">
              <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">LEARN PHP</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnphp' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>       

        </div>
        <div class="col-sm-3 ms-5 mt-5">
        <div class="card" style="width: 16rem;">
              <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">lEARN BOOTSTRAP</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnbootstrap' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>
        </div>
   </div>

   <div class="row ">
        <div class="col-sm-3 mt-5">
            <div class="card" style="width: 16rem;">
              <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">Learn DJANGO</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learndjango' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>
        </div>
        <div class="col-sm-3 ms-5 mt-5">
            <div class="card" style="width: 16rem;">
              <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">LEARN SQL</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnsql' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>       

        </div>
        <div class="col-sm-3 ms-5 mt-5">
        <div class="card" style="width: 16rem;">
              <i class="fab fa-html5 ms-5 mt-2" style = "font-size:40px; "></i>
              <div class="card-body">
                <h5 class="card-title">lEARN PYTHON</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="{% url 'learnpython' %}" class="btn btn-danger">Start Learning</a>
              </div>
           </div>
        </div>
   </div>
</div>


<div class="col-sm-3 bg-light">
    Recommendation part
</div>
</div>
{% endblock content %}