{% extends 'app/base.html' %}
{% load static %}
{% block main-part %}
    
    
    <main class="container mt-3 mb-5" style="margin-top: 90px !important;">
      <h1 class="text-center mt-3 mb-4" style="color: rgb(233,86,83); font-weight: bold;">Latest Sports News <i class="fa fa-check-square"></i></h1>
        <!-- featured news -->
        <div class="row my-3">
            <!-- Left -->
            <div class="col-md-7">
                <div class="card mb-3">
                  <img src="{{last_sports.image.url}}" class="card-img-top" alt="{{last_sports.title}}">
                  <div class="card-body">
                    <h5 class="card-title">{{last_sports.title}}</h5>
                    <hr/>
                    <p class="card-text"><a href="{% url 'sports_detail' last_sports.id %}" class="btn btn-sm btn-outline-danger" style="border-radius: 20px 0 20px 20px; background-color: rgb(233,86,83); color: white;">Read Full</a></p>
                  </div>
                </div>
            </div>
            <!-- Right -->
            <div class="col-md-5" style="max-height: 450px; overflow: auto;">
                
                <!-- News Box -->
                <div class="card">
                  <div class="row no-gutters">
                    {% for lf in last_four %}

                    <div class="col-md-4">
                    <img src="{{lf.image.url}}" class="card-img-top" alt="{{lf.title}}">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{lf.title}}</h5>
                        <p class="card-text"><a href="{% url 'sports_detail' lf.id %}" class="btn btn-sm btn-outline-danger" style="border-radius:20px 0px 20px 20px; background-color: rgb(233,86,83); color: white;">Read Full</a></p>
                      </div>
                    </div>
                                          
                    {% endfor %}
                  </div>
                </div>
                <hr/>
                
            </div>
            
        </div>
        <hr>
    
	<h1 class="border-bottom pb-1 text-center" 
    style="color: rgb(233,86,83);font-weight: bold;">All Sports News <i class="fa fa-check-square"></i></h1>
	<div class="row my-4">
        
			<!-- News box -->
      {% for sp in sports %}
			<div class="col-md-3">
				<div class="card mb-3 shadow">
                <img src="{{sp.image.url}}" class="card-img-top" alt="{{sp.title}}">
				<div class="card-body">
					<h5 class="card-title">{{sp.title}}</h5>
					<hr/>
					<p class="card-text"><a href="{% url 'sports_detail' sp.id %}" class="btn btn-sm btn-outline-danger" style="border-radius:20px 0px 20px 20px; background-color: rgb(233,86,83); color: white;">Read Full</a></p>
				</div>
				</div>
			</div>      
      {% endfor %}
            
	</div>
   
        <!-- End Single Category -->
    </main>
    {% endblock main-part %}